<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardgames">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".GameDesign.GameDesignPlayAreaDestinations"></activity>
        <activity android:name=".GameDesign.GameDesignCardAttributes" />
        <activity android:name=".Games.HelpingClasses.GameHelp" />
        <activity android:name=".Games.HelpingClasses.ChatScreen" />
        <activity android:name=".Profile.FriendProfile" />
        <activity android:name=".Profile.Friends" />
        <activity android:name=".StartScreens.SignUpImageSelection" />
        <activity android:name=".GameDiscovery.Category" />
        <activity android:name=".GameDesign.GameDesignLeadInScreen" />
        <activity android:name=".GameDesign.GameDesignScreenPhases" />
        <activity android:name=".GameDesign.GameDesignScreenWinning" />
        <activity android:name=".GameDesign.GameDesignScreenPlayAreas" />
        <activity android:name=".GameDesign.GameDesignScreenMeta" />
        <activity android:name=".GameDiscovery.GameInformation" />
        <activity android:name=".Games.GameScreen" />
        <activity android:name=".Games.Pile" />
        <activity android:name=".Games.Card" />
        <activity android:name=".Settings.AppHelp" />
        <activity android:name=".Settings.AppSettings" />
        <activity android:name=".Profile.EditProfile" />
        <activity android:name=".Profile.PersonalInformation" />
        <activity android:name=".Profile.profile" />
        <activity android:name=".StartScreens.SignUp" />
        <activity android:name=".StartScreens.Lobby" />
        <activity android:name=".GameDiscovery.GameCategory" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>